
@font-face {
    font-family: 'scgbold';
    src: url('fonts/scg/scg-bol-webfont.eot');
    src: url('fonts/scg/scg-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/scg/scg-bol-webfont.woff2') format('woff2'),
         url('fonts/scg/scg-bol-webfont.woff') format('woff'),
         url('fonts/scg/scg-bol-webfont.ttf') format('truetype'),
         url('fonts/scg/scg-bol-webfont.svg#scgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'scgitalic';
    src: url('fonts/scg/scg-italic-webfont.eot');
    src: url('fonts/scg/scg-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/scg/scg-italic-webfont.woff2') format('woff2'),
         url('fonts/scg/scg-italic-webfont.woff') format('woff'),
         url('fonts/scg/scg-italic-webfont.ttf') format('truetype'),
         url('fonts/scg/scg-italic-webfont.svg#scgitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'scglight';
    src: url('fonts/scg/scg-lig-webfont.eot');
    src: url('fonts/scg/scg-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/scg/scg-lig-webfont.woff2') format('woff2'),
         url('fonts/scg/scg-lig-webfont.woff') format('woff'),
         url('fonts/scg/scg-lig-webfont.ttf') format('truetype'),
         url('fonts/scg/scg-lig-webfont.svg#scglight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'scgregular';
    src: url('fonts/scg/scg-reg-webfont.eot');
    src: url('fonts/scg/scg-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/scg/scg-reg-webfont.woff2') format('woff2'),
         url('fonts/scg/scg-reg-webfont.woff') format('woff'),
         url('fonts/scg/scg-reg-webfont.ttf') format('truetype'),
         url('fonts/scg/scg-reg-webfont.svg#scgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}1




@font-face {
    font-family: 'scgregular';
    src: url('scg-reg-webfont.eot');
    src: url('scg-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('scg-reg-webfont.woff2') format('woff2'),
         url('scg-reg-webfont.woff') format('woff'),
         url('scg-reg-webfont.ttf') format('truetype'),
         url('scg-reg-webfont.svg#scgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Prompt';
    src: url('scg-reg-webfont.eot');
    src: url('scg-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('scg-reg-webfont.woff2') format('woff2'),
         url('scg-reg-webfont.woff') format('woff'),
         url('scg-reg-webfont.ttf') format('truetype'),
         url('scg-reg-webfont.svg#scgregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */


@font-face {
    font-family: 'Prompt';
    src: url('../css/fonts/Prompt/Prompt-Regular.ttf') format('truetype');
    font-style: normal ;
    font-weight: 400;
}  


@font-face {
    font-family: 'Prompt';
    src: url('../css/fonts/Prompt/Prompt-Medium.ttf') format('truetype');
    font-style: bold ;
    font-weight: 500;
}  