
*,
*::after,
*::before {}

html {
  font-size: 62.5%;
  /* 0.625 x 16 = 10 Root */
  touch-action: pan-x pan-y;
}

a {
  color: $theme-primary;
  &:link {
    color: $theme-primary;
  }

  &:hover {
    color: darken($theme-primary, 10%);
  }
}
body{
  font-family: 'Prompt', sans-serif;
}
.star{
  color: $primary;
}