
.site-header{
    position: relative;
    display: flex;
    height: 191px;
    @include border-radius(.6rem .6rem 0 0);
    background: url(/images/bg-header.png) no-repeat  $primary  ;
    background-blend-mode:soft-light;
    padding: 10px;
    h1{
        @include txt-header-white();
        margin: 2.2rem 0rem 0rem 2.2rem;
    }
    p{
        @include txt-header-description();
        max-width: 60%;
        margin: .4rem 0rem 0rem 2.2rem;
    }
    .right-pnl{
        position: absolute;
        right: 23px;
        bottom: 7px;
    }
}
header.header-vb{
    flex-flow: row;  
    @include border-radius(0);
    background: url(../images/bg-header-red.jpg) no-repeat bottom;
    background-size:100%;
    .top-panel{  
        width: 100%;
        @include xycenter();
        h3{
            color: $white;
            font-weight: 700;
            font-size: 55px;
            line-height: 70px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
        }
    }
    &.plain{
        background-image: none;
       @include headerplaingbg();
       height: 22rem;  
       padding: 0;   
       .top-panel{
           justify-content: center;
           flex-flow: column;
           align-items: flex-start;
           padding: 0px 7.5rem;
           h4{
               font-size: 6rem;
               color: $white;
               font-style: normal;
                font-weight:100;
                line-height: 105px;
                margin: 0;
              
           }
           h3{
               text-transform: uppercase;
               margin: 0;
               
           }
       }
       &.black{
        background:linear-gradient(180deg, #3F3F3F 14.8%, #0A0202 142.11%);
        & + .main-content{
            .quote-section{
                padding: 0 6.5rem;
                &::before{
                    display: none;
                }
                figure{
                    max-width: 23rem;
                }
            }
        }
        .top-panel{
            padding: 0px 4.2rem;
            h3{
                font-size: 4.5rem;
                line-height: 65px;
            }
            h4{
                font-size: 3.5rem;
                line-height: 37px;
            }
            figure{
                position: absolute;
                right: 3rem;
                top: 3rem;
            }
        }
       }
    }
}