
.main-content{
    display: flex;
    flex-flow: column;
    position: relative;
    @include border-radius(.6rem);
    background: $white;
    margin-top: -8px;
    .bx-product{
        padding: 16px;
        border-bottom:  1px solid rgba(0, 0, 0, 0.1);
        h3{
            @include txt-header-form();
            margin-bottom: 4px;
        }
        .info-product{
            figure{
                border: 1px solid rgba(197, 197, 197, 0.5);
                @include border-radius(.6rem);
               padding: 10px;
               margin-right: 16px;
            }
            .info-product-data{
                p{
                    font-size: 12px;
                }
                h4{
                    font-size: 16px;
                    color:$primary;
                    line-height: 28px;
                    span{
                        font-size: 10px;
                        color: $black;
                        display: flex;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .form-section{
        padding: 16px;
        .row{
            margin-bottom: 16px;
            label{
                @include txt-header-form();
              
            }
        }
        .caption{
            font-size: 12px;
            line-height: 18px;
            color: $dark-grey;
           & + .btn{
               margin-top: 2.2rem;
           }
            a{
                color: #0d6efd;
            }
        }
    }
    &.submit-screen{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        div{
            justify-content: center;
            display: flex;
            flex-flow: column;
            max-width: 75%;
            align-items: center;
            h2{
                margin-top: 1.6rem;
                span{
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: $light-grey;
                    margin-top: .4em;
                }
                + .btn{
                    margin-top: 2.4rem;
                    min-width: 12.8rem;
                }

            }
            i{
                font-size: 6.6rem;
            }
        }
    }
    .quote-section{
        position: relative;
        height:48.2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p{
            font-weight: 400;
            font-size: 50px;
            line-height: 70px;
            color: $dark-grey1;
            span{
                font-weight: 700;
                color:$red-new;
            }
        }
        figure{
            max-width: 330px;
            margin: 0;
            align-self: flex-end;
            z-index: 1;
        }
        &::before{
            content: '';
            width: 538px;
            height: 58px;
            position: absolute;
            right: 0;
            top: 0px;
            background: url(../images/bgheader-strip.png) no-repeat right;
            z-index: 0;
        }
      
    }  
&.interactive-mode2{
  
    .strip1{
        height: 22.1rem;
        padding: 0px 7.5rem;
        background: url(../images/bg-main.png);
        justify-content: space-between;
        &:before{
            background: url(../images/bgheader-strip2.png) no-repeat right;
        }
        p{
            font-style: normal;
            font-weight: 700;
           
            font-size: 40px;
            line-height: 60px;
            color:$dark-grey6;
            @include scgregular();
        }
        figure{
            max-width: 261px;
        }
        
    }
    .content-panel{
        background: $off-white;
        @include box-shadow(0px, 4px, 40px,rgba(0, 0, 0, 0.12) );
        @include border-radius(.6rem);
        padding-bottom: 5rem;
        .inner-content{
            padding: 0rem 5rem 0rem 13.1rem;
        }
       
    }
    
}

}

