.product-card-custom{
    border-radius: 6px;
}

.product-card-text-custom{
    min-height: 100px;
}

.text-light{
    font-weight: bold;
}

#product-list-nav{
    background-color: #DADADA;
    height: 80px;
}

.nav-back-button{
    /* background-image: url('/intearctive-mode-template/images/product_list/back.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: ; */
    height: 80px;
    width:80px;

    /* background-color: ; */
}

.nav-pills .nav-item .nav-link {
    background-color: #EAEAEA;
    color: black;
    width: 220px;
    padding-left:70px;
    background-repeat: no-repeat;
    /* backgr */
    background-position: 18px 20px;
}



.nav-pills li.nav-item:nth-child(2) .nav-link {
    background-image: url('/intearctive-mode-template/images/product_list/home-red.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link {
    background-image: url('/intearctive-mode-template/images/product_list/outside-red.png');

}

  
.nav-pills .nav-item .nav-link.active {
    background-color: red;
    color: white;
}

.nav-pills li.nav-item:nth-child(2) .nav-link.active {
    background-image: url('/intearctive-mode-template/images/product_list/home-white.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link.active {
    background-image: url('/intearctive-mode-template/images/product_list/outside-white.png');

}

#product-list-nav h3{
    text-align: left;    
    margin: 0;
    /* margin-left: 20px; */
}


.button-vr-productlist{
    background: linear-gradient(139.29deg, #BBBBBB -78.43%, #FFFFFF -78.4%, #E1E1E1 59.85%);
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.25);
    bottom: 2%;
    right:4%;
}

/* .tab-content {
border: 1px solid #dee2e6;
border-top: transparent;
padding: 15px;
}

.tab-content .tab-pane {
background-color: #FFF;
color: #0080FF;
min-height: 200px;
height: auto;
} */