html{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}

.product-card-custom{
    border-radius: 6px;
}

.product-card-text-custom{
    min-height: 100px;
}

.text-light{
    font-weight: bold;
}

#product-list-nav{
    background-color: #DADADA;
    height: 80px;
}

.nav-back-button{
    /* background-image: url('/intearctive-mode-template/images/product_list/back.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: ; */
    height: 80px;
    width:80px;

    /* background-color: ; */
}

.nav-pills .nav-item .nav-link {
    background-color: #EAEAEA;
    color: black;
    width: 220px;
    padding-left:70px;
    background-repeat: no-repeat;
    /* backgr */
    background-position: 18px 20px;
}


.nav-pills li.nav-item:nth-child(2) .nav-link {
    background-image: url('/intearctive-mode-template/images/product_list/home-red.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link {
    background-image: url('/intearctive-mode-template/images/product_list/outside-red.png');

}

.nav-pills li.nav-item:nth-child(2) .nav-link#pills-service-house-tab{
    background-image: url('/intearctive-mode-template/images/product_list/house-paper-red.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link#pills-recommend-tab {
    background-image: url('/intearctive-mode-template/images/product_list/star-red.png');

}
/* pills-service-house-tab */
/* pills-recommend-tab */
  
.nav-pills .nav-item .nav-link.active {
    background-color: red;
    color: white;
}

.nav-pills li.nav-item:nth-child(2) .nav-link.active {
    background-image: url('/intearctive-mode-template/images/product_list/home-white.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link.active {
    background-image: url('/intearctive-mode-template/images/product_list/outside-white.png');

}

.nav-pills li.nav-item:nth-child(2) .nav-link.active#pills-service-house-tab {
    background-image: url('/intearctive-mode-template/images/product_list/house-paper-white.png');

}

.nav-pills li.nav-item:nth-child(3) .nav-link.active#pills-recommend-tab {
    background-image: url('/intearctive-mode-template/images/product_list/star-white.png');

}

#product-list-nav h3{
    text-align: left;    
    margin: 0;
    /* margin-left: 20px; */
}


.button-vr-productlist{
    background: linear-gradient(139.29deg, #BBBBBB -78.43%, #FFFFFF -78.4%, #E1E1E1 59.85%);
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.25);
    bottom: 2%;
    right:4%;
}

.content-panel{
    min-height: 950px;
}


header.interactive-mode .top-panel-custom h3{
    color: white;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75)
}


header.interactive-mode .top-panel-custom h4{
    color: white;
    font-weight: lighter;
    font-size: 55px;
    line-height: 70px;
}

.top-panel-custom{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    padding: 5%;
    text-align: left;
    color:white;
}

.top-panel-custom2{
    background: linear-gradient(180deg, #3F3F3F 14.8%, #0A0202 142.11%);
    flex-flow: unset;
    height: 220px;
}


.top-panel-custom2 h3{
    color: white;
    font-weight: bold;
    font-size: 65px;
    line-height: 70px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
    display: inline-block;
    padding-left: 2%;
    white-space: nowrap;
}

.top-panel-custom2 h4{
    color: white;
    font-weight: lighter;
    font-size: 65px;
    line-height: 70px;
    display: inline-block;
    white-space: nowrap;
}

.top-panel-custom2 p{
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 32px;
    display: inline-block;
}

.inner-content-custom{
    margin-top:-7rem;
}

.carousel-inner-custom{
    width:40rem;
    height: 40rem;
}

.product-details-custom{
    margin-left: 11rem;
}


.disable-selection{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}

.puchase-options h6{
    font-weight: 400 !important;
}