/* #EC1C24 */

.template2-group-content-panel {
    background: transparent;
    height: 1480px;
}

.template2-content-panel {
    width: 100%;
    height: 950px;
    background-color: white;
}

.btn-template2 {
    width: 494px;
    height: 90px;
    font-weight: 700;
    font-size: 35px;
    line-height: 62px;
    color: black;
    border: 0;
    background: linear-gradient(50.68deg, #A0A0A0 -41.46%, #EDEDED 58.8%);
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.btn-template2 h1 {
    margin: 0;
}

.template2-footer {
    height: 348px;
    width: 100%;
    position: absolute;
    bottom: 0;

    /* z-index: ; */
}

.footer-left {
    background: url(../../images/footer-left.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -5px;
    background-position: 0px 108px;
    display: inline-block;

}

.footer-right {
    background: url(../../images/footer-right.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 100%;
    /* position: absolute;
    bottom: 0; */
    background-position: 200px 0px;
    /* z-index: 10000; */
    text-align: right;

}

.logo-scg-exp {
    position: absolute;
    bottom: 20px;
    left: 45px;
}

.group-qr-code-footer {
    margin-left: auto;
}

.qr-box-footer {
    background-color: white;
    width: 100px;
    height: 120px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;

}

.qr-box-footer p {
    padding-top: 10px;
    font-weight: 700;
}

.footer-right-content {
    margin-right: 2%;
    margin-top: 5%;
}


.footer-text-right h1:nth-child(2) {
    display: inline-block;
    padding-top: 3px;

}

.text-footer-highlight {
    color: red;
    display: inline-block;
    padding-left: 10px;
}