
.main-content.interactive-mode{
    background: url(../images/bg-main.png) repeat ;
    background-size: cover;
    height:100%;
    width: 100%;
    margin:0px;

    .content-panel{
        height: 600px;
       
        width: 100%;
        .continer-productlist{
            margin:0px 70px;
            display:flex;
            .navleft{
                height: 100%;
                width: 100px;
                background:$dark-grey5;
                p{
                    height: 100px;
                    background: $red-new;
                    color: $white;
                    @include xycenter();
                }
            }
        }
        &.dummy{
            background-color: $lite-grey;
        }
    } 
    .interactive-footer-panel{
        .btn-container {
            @include xycenter();
           padding: 30px;
        }
        .data-scg-homeexp{
            display: flex;
            justify-content:flex-end;
            padding: 30px;
            margin-right: 20px;
            h2{
                font-size: 30px;
                font-style: italic;  
                font-weight: 400;
                color: $dark-grey1;
                line-height: 47px;
                span{
                   color: $red-txt;
                    font-size: 47px;  
                    font-weight: 600;    
                    margin-bottom: 14px;         
                    line-height: 85px;
                }
                b{
                    color: $dark-grey1;
                    font-size: 37px;
                    font-weight: 600;        
                }
            }
        }
        .logo-container{
            display: flex;
            justify-content: flex-start;
            padding: 30px;
        }
    }
}